html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
  background: #3D4C57;
  font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#viewDiv {
  position: absolute;
  top: 0px;
  left: 0px;
}

.esri-ui {
  bottom: 0px !important;
}

section {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  padding: 30px 30px;
  background-color: rgba(61, 76, 87, 0.85);
  max-width: 300px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 15px;
}

a {
  color: #9FA5AB;

  text-decoration: none;
}

a:visited {
  color: #9FA5AB;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.dashboard-component {
  width: 100px;
  /* height: 100px; */
  float: left;
}

.confirmed {
  color: hsl(50, 100%, 59%);
  /* background-color: #fff6cc; */
}

.confirmed-light {
  color: #fff6cc;
}

.deaths {
  color: #ff382e;
}

.deaths-light {
  color: #ffcfcc;
}

.recovered {
  color: #5adc4c;
}

.recovered-light {
  color: #d8f7d4;
}

.dashboard-number {
  font-size: 1.5em;
}

.dashboard-attribution {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 16px;
  background-color: rgba(255, 255, 255, 0.65);
}

.dashboard-credits {
  position: absolute;
  bottom: 20px;
  width: 80%;
  font-size: 0.8em;
}

/* .extra{
  font-size: 0.8em;
} */

#dashboardRegion {
  font-size: 1.3em;
  margin-bottom: 20px;
}

#dashboard-scatterchart {
  height: 300px;
}

#dashboardLinechart {
  height: 500px;
}

#dashboardLineChart {
  margin-top: 100px;
}